@charset "UTF-8";


body{
    background-color: rgb(1, 93, 143);
}

h1{

    text-align: center;
    font: 42px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;

}

section{
    background-color: white;
    width: 400px;
    height: 300px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.429);
    
    border-radius: 30px;
}

footer{
    font:bold 18px times;
    font-style: italic;
    text-align: center;
    color: white;

}